{% include "header.html" %}

<div class=" ourstory page-header">
  <h1>Our Story</h1>
</div>

<div class="standard-text">
  <p>Built by 5 BS ITE students, JDash was born out of necessity. Their hectic and inconsistent schedules usually left them with little time for meals which meant unhealthy and irregularl meal times. In their quest to have a proper work-life balance and maintaining thir health whilst having access to the fresh and lovely meals from the Ateneo's very own JSEC stalls, they created JDash. A food delivery service that allows Ateneans to order from their favorite JSEC stalls from anywhere in the campus. </p>
</div>


{% include "footer.html" %}
