<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="site-info">
          <h2></h2>
          <p>Copyright &copy; 2019,<br /> JobBen&Jerry's Icecream Group</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="footer-info">
          <h2>Visit Us</h2>
          <p>Ateneo de Manila University, <br />
          Katipunan Ave., Quezon City, PHILIPPINES</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="footer-info">
          <h2>Leave a Message</h2>
          <p>contact@jcloud.com</p>
        </div>
      </div>


      </div>
    </div>
  </div>
</footer>

</html>
